<!doctype html>
<html>
<head>
  <title>Pet Battle Bracket</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/petbattle.css" />
</head>
<body ng-app="bracket">
  <h1 class="site-title">Pet Battle Bracket</h1>

  <div ng-controller="BracketCtrl">
    <div class="col-md-6">
      <h2>Competitors</h2>
      <ul class="competitors">
        <li ng-repeat="competitor in competitors">
          <h3>{{competitor.character}}</h3>
          <ul>
            <li ng-repeat="pet in competitor.pets">
              {{ pet.name }}
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <h2>The Bracket</h2>
      <input type="text" ng-model="test" />
      <p>Matches: {{ matches(test) }}</p>
      <p>First Round: {{ firstRound(test) }}</p>
      <p>Full Rounds: {{ fullRounds(test) }}</p>
      <p>Total Rounds: {{ totalRounds(test) }}</p>
      <div class="battle" ng-repeat="battle in battles">
        <div ng-repeat="competitor in battle.competitors">
          {{ competitor.character }}
        </div>
      </div>
      <div class="static-bracket">
        <h3>Static Bracket</h3>

        <div class="round">
          <h4>Elimination Round</h4>
          <ul>
            <li>Kurai</li>
          </ul>
          <ul>
            <li>Kairiel</li>
          </ul>
          <ul>
            <li>Jordynna</li>
          </ul>
          <ul>
            <li>Eliina</li>
          </ul>
          <ul>
            <li>Daniellena</li>
          </ul>
          <ul>
            <li>Aerfen</li>
            <li>Allurien</li>
          </ul>
          <ul>
            <li>Crunchyroll</li>
            <li>Emacs</li>
          </ul>
          <ul>
            <li>Sylphrena</li>
            <li>Pinxy</li>
          </ul>
        </div>
        <div class="round">
          <h4>First Round</h4>
          <ul>
            <li>Kurai</li>
            <li>Kairiel</li>
          </ul>
          <ul>
            <li>Jordynna</li>
            <li>Eliina</li>
          </ul>
          <ul>
            <li>Daniellena</li>
            <li>Allurien</li>
          </ul>
          <ul>
            <li>Emacs</li>
            <li>Sylphrena</li>
          </ul>
        </div>
        <div class="round">
          <h4>Second Round</h4>
          <ul>
            <li>Kurai</li>
            <li>Eliina</li>
          </ul>
          <ul>
            <li>Daniellena</li>
            <li>Emacs</li>
          </ul>
        </div>
        <div class="round">
          <h4>Final Round</h4>
          <ul>
            <li>Kurai</li>
            <li>Emacs</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
  <script src="app/app.js"></script>
  <script src="app/controllers/bracket.ctrl.js"></script>
  <script src="https://use.typekit.net/txp6bif.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
</body>
</html>
